################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/WinFormsSqliteWithEFCore/v15/Server/sqlite3/storage.ide-wal
/.vs/WinFormsSqliteWithEFCore/v15/Server/sqlite3/storage.ide-shm
/.vs/WinFormsSqliteWithEFCore/v15/Server/sqlite3/storage.ide
/.vs/WinFormsSqliteWithEFCore/v15/Server/sqlite3/db.lock
